* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #060B35;
}

.header {
  background-color: rgb(32, 15, 65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &__nav {
    margin-right: 50px;
  }
  
  &__links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  &__link {
    list-style: none;
  }
}

.header__link-img {
  display: block;
}

.link-img__logo {
  height: 40px;
  margin: 10px 0;
  margin-left: 50px;
  display: block;
}


.link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  padding: 23px 0;
  
  &:hover {
    color: #f5db92;
  }

  &:hover::after {
    content: '';
    display: block;
    background-color: #f5db92;
    border-radius: 8px;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.four-cards {
  display: flex;
  gap: 48px;
}

.product-card {
  width: 200px;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 46px;

  &__image {
    width: 160px;
    height: 160px;
    margin: 16px 4px 40px;
  }

  &__title {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 4px;
    height: 48px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: #616070;
    margin-bottom: 16px;
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__stars {
    display: flex;
  }

  &__star {
    background-image: url(./image/star-active.svg);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    &:nth-child(5n) {
      background-image: url(./image/star.svg);
    }
  }

  &__review {
    font-size: 10px;
    line-height: 14px;
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__price {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #616070;
  }

  &__button {
    height: 40px;
    width: 166px;
    background-color: rgb(32, 15, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    &:active {
      background-color: #fff;
      border: 1px solid rgb(32, 15, 65);
      color: rgb(32, 15, 65);
    }
  }
}

.price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
}
